/* Color https://coolors.co/d36135-7fb069-ece4b7-e6aa68-02020b */

/* need to add block highlighter to nav */
body {
    background-color: #f3f9e3;
    padding: 0;
    margin: 0;
    font-size: 16px; 
    font-family: "roboto", "helvetica", "san serif";
       
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #628b48;
    color: black;
    box-sizing: border-box;
    border-style: solid;
    border-width: .125rem;
    border-color: darkgreen;
    display: flex;  /* when display set to flex, it allows you to use the flex properties (align-items & justify-content) for children */
    align-items: center; 
    justify-content: space-around;
}

.logo {
    width: 60px; /* size of image container, image can overflow & mess up horizontal alignment so set image width to % not px */
    height: auto;
} 

.logo img {     
    width: 100%; /* make image width to 100% (or less) of the parent .logo to keep within container */
}

h1 {
    font-family: "Averia Serif Libre", cursive;
    font-size: 2.5rem;
}

header nav ul {
    display: flex; /* isn't this a repeat of header? */
    align-items: center; /* isn't this a repeat of header? */
    list-style: none; 
}

header nav ul li { 
    flex: 1 1 auto;  /* what does this do? */
}

header nav ul li a { /* or assign class name */
    color: #f3f9e3;
    text-decoration: none;
    font-size: 1.1rem;
    display: block; /* if removed, then HOME comes in line, why? */
    padding: .65rem; /* there is double padding btw words because each word has rt & lf padding*/
}

.active { /* teacher used border-bottom: 1px solid #f3f9e3 ; padding-bottom: .2rem; but I like it better this way*/
    color: blue;   
}  



h2 {
    font-size: 1.2rem;
}

h2.home {
    background-color: #dd9787;   /* or d65653 */
    width: 375px;
    text-align: center;
    margin: 1em 0em 0em 5em;
    padding: .3em 0em;
    
}
p.home-away {
    width: 375px;
    margin: 0em 5em;
    padding: 1.3em 0em;
}

main section img {
    margin: 1em 0em 0em 5em;
}
h2.wedding {
    background-color: #dd9787;    /* or d65653 */
    width: 375px;
    text-align: center;
    margin: 1em 0em 0em 5em;
    padding: .3em 0em;
}

p.reception {
    width: 375px;
    margin: 0em 5em;
    padding: 1.3em 0em;
}

h2.family-search {
    background-color: #dd9787;    /* or d65653 */
    text-align: center;
    margin: 1em 5em 0em 5em;
    padding: .3em 0em; /* this only changes this pink box */
}

p.search {
    margin: 0em 5em 0em 5em;
    padding: 1.3em 0em;
}

footer {
    background-color: #628b48;
    color: #f3f9e3;
    margin-top: 1em;
    box-sizing: border-box;
    border: .125rem solid darkgreen;
    display: grid; /*sections (the children) are now grid items */
    grid-template-columns: 1fr 1fr; /* 1 fr = 1 column, so 2 of them make 2 columns of equal space */
                                    /* 1fr 2fr = 1 column with 1/3 width and 2nd column 2/3 width */
    grid-template-areas: "a b"
    "c c";
}

.contact-info { 
    grid-area: a;
}

.social-media {
    grid-area: b;
}

.closing-line {
    grid-area: c;
}

footer div ul {
    display: flex;  /* when you set display to flex, you can then use properties such as flex-end */
    justify-content: flex-end;
}
footer div ul li {
    list-style: none;
}

a {
    color: #f3f9e3
}

.postal-address, .phone, .email {
    padding: 2px 0px 0px 100px;
}

.social img {
    width: 50px;
    height: auto;
    padding: 5px 15px 0px 0px;
}

.instagram {
    margin-right: 3.2em;
}

p.copyright {
    text-align: center;
    padding-top: 1em;
}